main.main_service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 1400px;
  padding-top: 4rem;
  padding-bottom: 8rem; }

div.item1 {
  display: flex;
  padding-right: 50px;
  justify-content: right;
  align-items: center; }

div.item2 {
  display: flex;
  text-align: left;
  align-items: center;
  padding-right: 20em;
  font-weight: 300;
  font-size: 20px;
  color: #424242; }

div.item3 {
  display: flex;
  text-align: right;
  align-items: center;
  padding-left: 20em;
  font-weight: 300;
  font-size: 20px;
  color: #424242; }

div.item4 {
  display: flex;
  padding-left: 50px;
  justify-content: left;
  align-items: center; }

div.item5 {
  display: flex;
  padding-right: 50px;
  justify-content: right;
  align-items: center; }

div.item6 {
  display: flex;
  text-align: left;
  align-items: center;
  padding-right: 20em;
  font-weight: 300;
  font-size: 20px;
  color: #424242; }

section.gallery_projects {
  width: 100%;
  height: 1000px;
  justify-content: center; }

div.filter_list ul {
  display: flex;
  padding-top: 30px;
  width: 100%;
  justify-content: center; }

section.gallery_projects ul {
  display: flex;
  margin: auto;
  margin-bottom: 50px; }

section.gallery_projects ul li {
  list-style: none;
  background-color: #eee;
  padding: 9px 20px;
  letter-spacing: 1px;
  cursor: pointer; }

section.gallery_projects ul li.active {
  background-color: #128c7e;
  color: #fff; }

div.product {
  display: flex;
  margin: auto;
  flex-wrap: wrap; }

.product .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px; }

.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

div.bg_about {
  display: flex;
  justify-content: center;
  width: 100%; }

.text_about {
  font-weight: 200;
  line-height: 1.7rem;
  text-align: justify;
  font-family: 'Bitter', serif;
  margin: 0rem;
  padding: 1rem 2rem; }

div.text_about {
  margin: 50px 50px;
  font-weight: 550; }

.contact_master {
  display: flex;
  justify-content: center;
  padding: 10rem 15rem; }

div.tell_us {
  display: flex;
  justify-content: center;
  width: 100%; }

div.contact_master {
  padding: 10rem 10rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

body header {
  display: flex;
  justify-content: space-between;
  background-color: #424242;
  width: 100%;
  align-items: center; }

body div.logo_rendeed {
  width: 12rem;
  margin: .9rem 2rem .9rem 15rem; }

body nav#navUno ul {
  display: flex;
  padding: 1rem 15rem 0.5rem 1rem;
  list-style: none;
  width: 100%; }

body nav#navUno ul li a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

body nav#navUno ul li a:hover {
  color: #128c7e;
  font-weight: 600; }

main {
  background-color: #ffffff; }

div.about_uno {
  display: block;
  text-align: center;
  align-items: center;
  background-color: #424242;
  height: 30rem;
  padding: 8rem 8rem;
  margin: 0rem; }

h1#tituloUno {
  align-items: center;
  text-align: center;
  font-weight: 200;
  color: #ffffff;
  font-size: 2rem; }

.desc_uno {
  font-size: 16px;
  font-weight: 200;
  color: #ffffff; }

section.section_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }

div.about_dos {
  color: #424242;
  border: solid 1px; }

section.service {
  background-color: #dfdfdf;
  opacity: 0.85; }

div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 35rem; }

div.card_uno,
div.card_dos,
div.card_tres {
  display: block;
  text-align: center; }

h3.title_card {
  font-weight: 500; }

div.box_button {
  display: flex;
  text-align: center;
  align-items: center; }

p.texto_seis {
  display: block;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 2rem;
  padding: auto;
  padding: auto 5rem;
  color: white;
  text-transform: uppercase; }

.button_contact {
  display: block;
  align-content: space-between;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto 2rem auto;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #128c7e;
  color: white;
  text-transform: uppercase;
  width: 15rem; }

.button_contact:hover {
  cursor: pointer;
  background-color: rgba(3, 97, 0, 0.753); }

div.contact {
  display: block;
  text-align: center;
  height: 25rem;
  background-color: #424242;
  margin: auto;
  padding: 7.5rem; }

.section_biblio {
  display: grid;
  grid-template-columns: 30% 70%; }

div.biblio {
  text-align: right;
  padding-top: 5rem; }

.photo_perfil {
  border-radius: 50%; }

.text_biblio {
  font-weight: 200;
  text-align: left;
  padding: 10rem 15rem 10rem 5rem; }

.name_bold {
  font-weight: bold; }

.footer_cero {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 70% 30%;
  height: 20rem;
  background-color: #128c7e; }

.logo_rendeed_footer {
  width: 25rem;
  margin: 5rem auto; }

.footer_tres {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.footer_tres ul {
  text-align: left;
  padding: 4rem 60px; }

.footer_tres ul li {
  list-style: none;
  width: 100%; }

.footer_tres ul li a {
  font-size: 1rem;
  color: #424242;
  text-decoration: none;
  text-transform: uppercase; }

.footer_tres ul li a:hover {
  font-weight: 600; }

div.footer_tres_addres {
  text-align: left;
  padding: 4rem 60px;
  color: #424242; }

.footer_cuatro {
  width: 100%;
  color: #424242;
  padding-left: 115px; }

.footer_cinco {
  color: #424242;
  text-align: center; }

.img_social {
  text-align: center;
  padding: 3px 3px; }

.footer_seis {
  color: #424242;
  text-align: left;
  padding: 20px 60px; }
