div.about_dos{
}
    div.bg_about{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .text_about{ 
        font-weight: 200;
        line-height: 1.7rem;
        text-align: justify;
        font-family: 'Bitter', serif;
        margin: 50px 50px;
        padding: 1rem 2rem;
    }
  
