.contact_master{
    display: flex;
    justify-content: center;
    padding: 10rem 15rem;
}
div.tell_us{
    display: flex;
    justify-content: center;
    width: 100%;
}
div.contact_master{
    padding: 10rem 10rem;
}